
<app-layoout></app-layoout>

<!--
  <app-trasclusion>
  <div slot="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit voluptatibus velit dicta fugit, molestiae iure mollitia reiciendis modi inventore odio! Omnis recusandae aperiam illum consequatur voluptatem laboriosam fuga cumque repudiandae!</div>
</app-trasclusion>
<app-timer></app-timer>
<app-counter></app-counter>
<app-calendar></app-calendar>

<app-form></app-form>

<div>{{name}}</div>

@if(user){
  <div>{{user}}</div>
}
@else{
  <button>Loggin</button>
}

<ul>
  @for (v of data; track v) {
    <li>{{v}}</li>
  }
  @empty {
    <li>No existen elementos</li>
  }
</ul>
-->
